// NESTING O ANIDAMIENTO EN SASS
@import '../utilities/variables';

header{
    background-color: #1A1A1A;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    // titulo
    h1{
        color: white;
        font-size: 2rem;
        &:hover{
            color: $color-coder;
        }
    }

    nav{
        ul{
            display: flex;
            list-style-type: none;
            li{
                margin: 10px;
                a{
                    text-decoration: none;
                    color: white;
                    font-family: $font-coder; 
                    
                    // transition
                    transition: 1s;
                    &:hover{
                        margin: 15px;
                        color: $color-coder;
                    }
                }
                #cursos-green{
                    color: green;
                }
                .enlace-blue{
                    color: blue;
                }
            }
        }
    }

    div{
        a{
            @extend .button;
        }
    }
}