.promocion{
    background-color: #F4FE80;
    padding: 10px;
    p{
        font-weight: 500;
        font-family: $font-coder;
        text-align: center;
        span{
            font-weight: bold;
        }
    }
}